* {
background-color: black;
color: white;

}

.cabecalho {
    display: flex;
    justify-content: center;
    
}
.botao {
    display: flex;
    justify-content: center;
    font-size: large;
}

.texto {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    color:white
}